{% extends "layout.html" %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}
    <h1><span class="titre_op">Bienvenue !</span></h1>       
    <p class="descri" >Vous vous trouvez actuellemnt sur la page d'acceuil du BarBanc le seul bar à bières au monde en collaboration
    avec le plus grand rapeur/poete de tous les temps BOOBA !!! </br>
    Je vous propose notre selection des bières les plus populaires en ce moment :
    </p>
    <section class="container-fluid">
    {% for biere in bieres %}
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="fond"> 
                        <div class="ruban"> 
                            <h3><span class="titre_biere">{{ biere.nom }}</span></h3>
                        </div>     
                        <div class="ruban_gauche"></div>
                        <div class="ruban_droit"></div>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="biere pop">
                            <img class="img_biere" src="/static/images/bieres/{{ biere.image }}" />
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <p class="descri" >{{ biere.description }}</p>
                        <p class="prix" >{{ biere.prix }} €</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </section>
{% endblock %}
