{% extends "layout.html" %}

{% block title %} {{ titre }} {% endblock %}

{% block content %}
    <h2><span class="titre_op">{{ titre }}</span></h2>
    <section class="container-fluid">
    {% for biere in bieres %}
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="fond"> 
                        <div class="ruban"> 
                            <h3><span class="titre_biere">{{ biere.nom }}</span></h3>
                        </div>     
                        <div class="ruban_gauche"></div>
                        <div class="ruban_droit"></div>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="biere ">
                            <img class="img_biere" src="/static/images/bieres/{{ biere.image }}" />
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <p class="descri" >{{ biere.description }}</p>
                        <p class="prix" >{{ biere.prix }} €</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </section>
{% endblock %}
