{% extends "layout.html" %}
{% block title %}{{ titre }}{% endblock %}
{% block content %}
	<h1>{{ titre }}</h1>
	{% for biere in bieres %}
		<h2>{{ biere.nom }}</h2>
            <div class="row container">
                <div class="col-sm-4">
                    <img class="biere" src="/static/images/bieres/{{ biere.image}}" />
                </div>
            </div>
            <div class="col-sm-8">
                <p class="descri" >{{biere.description}}</p>
            </div>
        </div>
	{% endfor %}
{% endblock %}
