{% extends "layout.html" %}

{% block title %}Collaborateur{% endblock %}

{% block content %}
    <h1><span class="titre_op">Collaborateur :</span></h1>
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="fond"> 
                        <div class="ruban"> 
                            <h3><a class="titre_biere">Booba :</a></h3>
                        </div>     
                        <div class="ruban_gauche"></div>
                        <div class="ruban_droit"></div>
                    </div>
                </div>
                </br>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1" frameborder="0" allowfullscreen></iframe>

    <p>Élie Yaffa, dit Booba, est un rappeur français,il est membre du 92I, un collectif de rap français
    dont il a été le fondateur, regroupant des rappeurs issus des Hauts-de-Seine, Mala et Bram's. Il a 
    créé sa propre marque de vêtements streetwear nommée Ünkut, il se lance maintenant dans la bière !<br/>
    Après 20 ans de carrière, Booba reste un des plus célèbres rappeurs francophones. Il est le premier 
    rappeur solo français à remplir le Palais omnisports de Paris-Bercy1 et second artiste rap à remplir 
    Bercy après NTM6. Il s'est d'abord fait connaître grâce au groupe Lunatic, avec son compère Ali 
    originaire d'Issy-les-Moulineaux, où le succès vient à la fois de la critique et du public. L'album 
    Mauvais œil entrera dans l'histoire du rap français en obtenant un disque d'or. Il s'agit en effet du 
    premier album en indépendant à obtenir une telle récompense.<br/>
    Il a battu également le record français d'albums numériques vendus sur iTunes, 
    toutes catégories musicales confondues, avec plus de 17 000 exemplaires en une seule semaine,
    détrôné aujourd'hui par les Daft Punk.
    </p>
</div></div>
{% endblock %}
