{% extends "layout.html" %}

{% block title %}Commader{% endblock %}

{% block content %}
<h1><span class="titre_op">Commande :</span></h1>
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Nom</th>
            <th>prix</th>
        </tr>
    </thead> 
    <tbody>
        {% for biere in bieres %}
            <tr>
                <td class="prix" >{{ biere.nom }} : </td>
                <td class="prix" >{{ biere.prix }} €</td>
                <td><input type=number min=0 /></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
