{% extends "layout.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1><span class="titre_op">Contact :</span></h1>
	<p>Si vous souhaitez nous conctaterpour toute information suplementaire, voici nos adresse mail pour nous conctater.</p>
<h2>Calligaro Simon :</h2>
<p>simon.calligaro@etu.unistra.fr</p>
<h2>Vierling Claire :</h2>
<p>claire.vierling@etu.unistra.fr</p>
<h2>Pr.Kwak :</h2>
<p>maitre.univers@etu.unistra.fr</p>
<h2>BOOBA :</h2>
<p>bouba.ourson@etu.unistra.fr</p>
{% endblock %}

