{% extends "layout.html" %}

{% block title %}FAQ{% endblock %}

{% block content %}
<h1><span class="titre_op">Foire Aux Qestions :</span></h1>
    <h2>Q1: Pourquoi un bar à bières ?</h2>
    <p>Car la bière est une boisson magique rendant les gens heureux et permettant d'unir les gens peut importe leurs idéaux !</p>
    <h2>Q2: Pourquoi avoir créer un site internet ?</h2>
    <p>Car le Tout Puissant Pr.Kwak à eu la grandiose idée d'exporter nos bières au goûts uniques !</p>
    <h2>Q3: Pourquoi le choix de Booba comme partenaire ?</h2>
	<p>Tout simplement car il est seul en ce monde à avoir autant de carisme que
	nos bières, il renvoit une image positive et dynamique de notre société </p>
	<h2>Q4: Quels projets pour l'avenir ?</h2> 
	<p>Comme l'a dit un philosophe de notre temps : 
	Cortex : « La même chose que chaque nuit, Minus. Tenter de conquérir le monde !»</p>
{% endblock %}
