<!doctype html>

<html>
	<head>
		<meta charset="utf-8"/>
		<title>{% block title %}BarBanc{% endblock %}</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/static/css/site.css" />
		{% block head %}{% endblock %} 
	</head>

	<body>
		<div class="content container">
		<header>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center hidden-xs hidden-sm">
						<img class="img-reponsive banniere" src="/static/images/banniere/banner.jpg" />
					</div>
				</div>
				<nav class="navbar navbar-inverse row">
					<div class="container-fluid"> 
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/">BarBanc</a>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav" >
								<li class=dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="/bieres">Bières<span class="caret"></span></a> 
                        	        <ul class="dropdown-menu">
										<li><a href="/bieres/blondes">Blondes</a> </li>
                                        <li><a href="/bieres/brunes">Brunes</a> </li>
                               	        <li><a href="/bieres/rousses">Rousses</a> </li>
                                         <li><a href="/bieres/autres">Autres</a> </li>
									</ul>
                        	                               	</li>
								<li> <a href="/collaborateurs">Collaborateurs</a> </li>
								<li> <a href="#">Commander</a> </li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
								<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</header>
		<div class="container ">
			<div class="row">
				<div class="col-lg-12 text-center">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>

		<footer>
			<div class="container text-center">
				<hr/>
				<nav class="navbar navbar-inverse">
                                       	<div class="container-fluid">
						<ul class="nav nav-justified">
							<li><a href="#" >Contact</a></li>
							<li><a href="#" >FAQ</a></li>
							<li><a href="#" >Adresse</a></li>
      						</ul>
					</div>
				</nav>
			</div>
		</footer>
	</div>

	</body>
</html>
